<div class="container">

    <H1>Intern Data</H1>
    <a  [routerLink]="['/add']" routerLinkActive="router-link-active"  mat-raised-button color="primary">Add New Intern</a>
    <a mat-raised-button [routerLink]="['/show']" routerLinkActive="router-link-active"  >Details of All Intern</a>
    <a [routerLink]="['/searchbyid']" routerLinkActive="router-link-active"  mat-raised-button>Search by Id</a>
    <button mat-raised-button>Update Intern</button>
    <button mat-raised-button color="warn">Rremove Intern</button>


</div>
