<div class="container" style="text-align: center;">
    <h1>All Interns Data</h1>

    <table border="2">
        <tr>
            <td>Intern Id</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Mobile No.</td>
            <td>Profile</td>
        </tr>
        <tr *ngFor="let item of dataa">
            <td>{{item.internId}}</td>
            <td>{{item.internFirstName}}</td>
            <td>{{item.internLastName}}</td>
            <td>{{item.internMobileNo}}</td>
            <td>{{item.internProfile}}</td>

        </tr>

    </table>



</div>